[core]
	editor = code --wait
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential]
	helper = osxkeychain
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[pager]
	branch = false
[pull]
	rebase = false
[user]
	name = Joel Beck
	email = 81745480+joel-beck@users.noreply.github.com
